html{
  margin:0;
  padding:0;
}
body{
  margin:0;
  padding:0;
  background:#040404;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
h1{
  margin:0;
  font-family: 'Poiret One', cursive;
}
h2{
  margin:0 0 0.5em;
  padding:0.3em;
  border-left:6px solid #78a0b8;
  border-bottom:1px solid #78a0b8;
}
h3{
  margin:0 0 0.5em;
  padding:0.3em;
  background:#e0e8f0;
}
#main{
  width:90%;
  background:#fcfcfc;
  margin:0 auto;
  padding:20px;
}
#header{
  text-align: center;
  margin:3%;
  background:#78a0b8;
  color:#fff;
}
#header img {
  width:40%;
}
